@using umbraco.MacroEngines
@using umbraco.interfaces
@using uComponents.Core
@using uComponents.Core.uQueryExtensions
@using System.Linq
@{

  <h1 class="storyTitle">@Model.title</h1>
  
  @Model.sectionIntro  
  
}