@using VUI.classes;
@{        
@*  <h1><a href="@umbraco.library.NiceUrl(VUIfunctions.VUIMediaRootNode)">VUI Library</a></h1> *@
  <a class="vui-home" href="/vui/"><img src="/css/images/VUI_white_on_black_logo.png" /></a>
}